body{
    background-image: url(../..//images/fundo.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}
.painel{
    color:white;
    width: 400px;
    height: 400px;
/*    border: 3px solid black;
    border-radius: 10px;*/
    margin-top: 100px;
    
/*    box-shadow: 10px 7px 12px whitesmoke;
    -webkit-box-shadow: 5px 5px 10px whitesmoke;
    -moz-box-shadow: 5px 5px 10px whitesmoke;
    */
}
.form-pre-acesso{
    margin: 10px;
}
label{
   
}
.bordas{
    text-shadow: grey 2px -1px
}